 *{
margin:0;
 }
 .cartas{
   width: 50 vw;
 }
 
.numRandow{
  font-size: 30px;
  border-radius: .25rem;
  border: 1px solid rgba(231, 128, 11, 0.493);
  white-space: nowrap; 
  /* width: 800px;  */
  /* overflow: hidden; */
  text-align: center;
  margin: 5% 0 2% 0;
}
.respBinarios{
  font-size: 30px;
  border-radius: .25rem;
  border: 1px solid rgba(231, 128, 11, 0.493);
  white-space: nowrap; 
  width: 222px; 
}
.card {
   
    /* background-color: rgba(152, 238, 73, 0.493); */
    border: 0px solid   rgba(0,0,0,.125);
    border-radius: .25rem;
}

 /* .card-container {
    cursor: pointer;
    display: inline-flex;
    height: 150px;
    perspective: 600;
    position: relative;
    width: 100%;
  }
  .card {
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
  }
  .card:hover {
    transform: rotateY(180deg);
  }
  .card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
  }
  .card .back {
    background: #eaeaed;
    color: #0087cc;
    line-height: 150px;
    text-align: center;
    transform: rotateY(180deg);
  } */
 